@font-face {
    font-family: myExist;
    src: url(../css/fonts/Existence-Light.otf);
}

.header-login-signup{
	background-color:#292c2f;
	box-shadow:0 1px 1px #ccc;
	padding: 20px 40px;
	height: 80px;
	color: #ffffff;
	box-sizing: border-box;
}

.header-login-signup .header-limiter {
	max-width: 1200px;
	text-align: center;
	margin: 0 auto;
}

/* Logo */

.header-login-signup .header-limiter h1{
	float: left;
	font: normal 28px Cookie, Arial, Helvetica, sans-serif;
	line-height: 40px;
	margin: 0;
}

.header-login-signup .header-limiter h1 span {
	color: #5383d3;
}

/* The navigation links */

.header-login-signup .header-limiter a {
	color: #ffffff;
	text-decoration: none;
}

/* Login/Sign up buttons */

.header-login-signup .header-limiter ul {
	font: 14px Arial, Helvetica, sans-serif;
	list-style: none;
	line-height: 1;
	float: right;
}

.header-login-signup .header-limiter ul li {
	display: inline-block;
	margin-left: 15px;
	opacity:0.9;
}

.header-login-signup .header-limiter ul li:hover{
	opacity: 1;
}

/* The sign up button */

.header-login-signup .header-limiter ul li:last-child a {
	font-weight: bold;
	background-color: #3a3c3e;
	padding: 10px 15px;
	border-radius: 3px;
}

/* Making the header responsive */

@media all and (max-width: 600px) {

	.header-login-signup {
		padding: 38px;
		height: 85px;
	}

	.header-login-signup .header-limiter h1 {
		margin: -8px 0 2px -19px;
		text-align: center;
		font-size: 24px;
		line-height: 1;
	}
	
	.header-login-signup .header-limiter ul {
		margin-right: -20px;
	}

}

/* For the headers to look good, be sure to reset the margin and padding of the body */

body {
	margin:0;
	padding:0;
}

#backBtn {
	font-weight: normal;
    border-color: white;
    border: groove;
    border-width: thin;
    float: left;
    background-color: #3a3c3e;
    padding: 10px 15px;
    border-radius: 3px;
}

@media all and (max-width: 600px) {

	#backBtn {
    	float: none;
	}
	
	#title {
		margin-top: -15px;
	}
	
	h3 a{
		height: 60px;
	}
}

#set {
	margin: 1.5em 0;
}

#inboxTitle{
	font-size: 40px;
}

